 .starterChoice{   /* el primer elemento de choice */
    display: flex; 
    max-width: 24rem; 
    padding: 0.25rem; 
    border-radius: 9999px; 
    border-width: 1px; 
    border-color: #D1D5DB; 
    background-color: #ffffff; 

}

.labelChoice{
    margin-right: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    color: #111827; 
}
.choiceBox{

    display: flex; 
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #111827; 

}