.starterChoice{   /* el primer elemento de choice */
    display: flex; 
    width: 250px; /* Cambia este valor según tus necesidades */
    height:35px;
    padding: 0.25rem; 
    border-radius: 9999px; 
    border-width: 1px; 
    border-color: #D1D5DB; 
    background-color: #ffffff; 
    padding-left: 15px;
    padding-right:15px;
}

.labelChoice{
    width:50px;
    margin-right: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    color: #111827; 
    padding-right: 10px;
}

.choiceBox{
    display: flex; 
    width: 150px; /* Asegúrate de que no haya espacio entre el número y 'px' */
    font-size: 0.875rem;
    font-weight: 500; 
    line-height: 1.25rem; 
    color: #111827; 
}





.safe{
display: flex; 
overflow: auto; 
flex-wrap: wrap; 
max-height: 100px;

}


.chips{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    margin: 0.25rem; 
    border-radius: 9999px; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 700; 
    color: #ffffff; 
    background-color: #3B82F6; 

}