.notification {
    position: relative;
}

.notification::after {
    content: 'a';
    position: inline-block;
    top: 50%;
    right: -5px; /* Ajusta la posición del círculo según sea necesario */
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}
/*
.topbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
  }
  */