.notification {
    position: relative;
}

.notification::after {
    content: 'a';
    position: inline-block;
    top: 50%;
    right: -5px; /* Ajusta la posición del círculo según sea necesario */
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}