.starterChoice{   /* el primer elemento de choice */
    display: flex; /* Cambia este valor según tus necesidades */
    height:35px;
    padding: 0.25rem; 
    border-radius: 9999px; 
    border-width: 1px; 
    border-color: #D1D5DB; 
    background-color: #ffffff; 
    padding-left: 15px;
    padding-right:15px;
}

.labelChoice{
    margin-right: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    color: #111827; 
    padding-right: 10px;
}

.choiceBox{
    display: flex;
    margin-left: 2px;/* Asegúrate de que no haya espacio entre el número y 'px' */
    font-size: 0.875rem;
    font-weight: 500; 
    line-height: 1.25rem; 
    color: #111827; 
}
