.starterChoice{   /* el primer elemento de choice */
    display: flex; 
    width: 15%; 
    padding: 0.25rem; 
    border-radius: 9999px; 
    border-width: 1px; 
    border-color: #D1D5DB; 
    background-color: #ffffff; 
    padding-left: 15px;
    padding-right:15px;

}

.labelChoice{
    margin-right: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    color: #111827; 
 
}
.choiceBox{

    display: flex; 
    width: 20 px; 
 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #111827; 


}


.safe{
display: flex; 
overflow: auto; 
flex-wrap: wrap; 
max-height: 100px;

}


.chips{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    margin: 0.25rem; 
    border-radius: 9999px; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 700; 
    color: #ffffff; 
    background-color: #3B82F6; 

}